# Copyright (c) 2015-2016 The CyanogenMod Project
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on early-init
    start lux-config-sh

on boot
    # AK09912 driver parameter permissions
    chown system compass /sys/class/compass/akm09912/accel
    chmod 0660 /sys/class/compass/akm09912/accel
    chown system compass /sys/class/compass/akm09912/delay_acc
    chmod 0660 /sys/class/compass/akm09912/delay_acc
    chown system compass /sys/class/compass/akm09912/enable_acc
    chmod 0660 /sys/class/compass/akm09912/enable_acc
    chown system compass /sys/class/compass/akm09912/delay_fusion
    chmod 0660 /sys/class/compass/akm09912/delay_fusion
    chown system compass /sys/class/compass/akm09912/enable_fusion
    chmod 0660 /sys/class/compass/akm09912/enable_fusion
    chown system compass /sys/class/compass/akm09912/delay_mag
    chmod 0660 /sys/class/compass/akm09912/delay_mag
    chown system compass /sys/class/compass/akm09912/enable_mag
    chmod 0660 /sys/class/compass/akm09912/enable_mag

    # Switch to interactive and let PowerHAL configure it
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boost
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/boostpulse_duration
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

on post-fs-data
    # AK09912 calibration file directory
    mkdir /data/misc/akmd 0770 system compass

    # NFC local data and nfcee xml storage
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

# Start AKM executable
service akmd09912 /system/vendor/bin/akmd09912
    class main
    user compass
    group compass misc input

service lux-config-sh /vendor/bin/init.device.config.sh
    class core
    user root
    oneshot
    disabled

on property:ro.device.dualsim=true
    setprop ro.telephony.default_network "9,1"
    setprop persist.radio.force_get_pref 1
    setprop persist.radio.multisim.config dsds
    setprop persist.radio.plmn_name_cmp 1
    setprop ro.telephony.ril.config simactivation

on property:ro.device.dualsim=false
    setprop ro.telephony.default_network 9
    setprop persist.radio.multisim.config ""

on property:sys.boot_completed=1
    setprop sys.io.scheduler fiops

    write /sys/module/lpm_levels/parameters/sleep_disabled 0
    write /sys/devices/system/cpu/cpu0/online 1

    # HMP scheduler (big.Little cluster related) settings
    write /proc/sys/kernel/sched_upmigrate 60
    write /proc/sys/kernel/sched_downmigrate 35
    write /proc/sys/kernel/sched_small_task 20

    # Enable sched guided freq control
    write /proc/sys/kernel/sched_freq_inc_notify 50000
    write /proc/sys/kernel/sched_freq_dec_notify 50000

    # cpu idle load threshold
    write /sys/devices/system/cpu/cpu0/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu1/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu2/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu3/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu4/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu5/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu6/sched_mostly_idle_load 30
    write /sys/devices/system/cpu/cpu7/sched_mostly_idle_load 30

    write /sys/module/cpu_boost/parameters/boost_ms 20
    write /sys/module/cpu_boost/parameters/sync_threshold 960000
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    start batt_health

    write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    write /sys/module/lowmemorykiller/parameters/vmpressure_file_min 81250

    write /sys/module/msm_thermal/core_control/enabled 0

    # disable bcl hotplug to switch governor
    write /sys/devices/soc.0/qcom,bcl.16/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.16/hotplug_mask 0
    write /sys/devices/soc.0/qcom,bcl.16/mode "enable"

    # enable governor for perf cluster
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1

    # enable governor for power cluster
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "25000 800000:50000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 80
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 998400
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 0
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "50 800000:65 998400:90"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 499200

    # re-enable bcl hotplug
    write /sys/devices/soc.0/qcom,bcl.16/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.16/hotplug_mask 15
    write /sys/devices/soc.0/qcom,bcl.16/mode "enable"

    write /sys/module/msm_thermal/core_control/enabled 1
